<div class="jumbotron">
<div class="container">
<h1 >Welcome to Armando Pin App</h1>
<a href="https://www.google.com.mx/imghp?hl=es&tab=wi" class="btn btn-primary"><span class="glyphicon glyphicon-camera" style=" color: white "> </span>Google imeges</a>
</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="page-header">
			  <h2 style="display: inline;">Acerca de Ruby</h2> <br>
			</div>
			
	<p> <h3 style="display: inline;">Los ideales del creador de Ruby</h3>
		<br>
		Ruby es un lenguaje con un balance cuidado. Su creador, Yukihiro “Matz” Matsumoto, mezcló partes de sus lenguajes favoritos (Perl, Smalltalk, Eiffel, Ada y Lisp) para formar un nuevo lenguaje que incorporara tanto la programación funcional como la imperativa.</p>
			<hr>
			<br>
		<img src="https://www.nerion.es/soporte/wp-content/uploads/2015/10/ruby-mini-logo.png" alt="logo de en 1 mes" class="img-responsive">
		</div>
		<div class="col-md-4">
			<div class="page-header">
			  <h2>Ruby on Railsr</h2>
			</div>
		<p>Ruby on Rails es un entorno de desarrollo web de código abierto que está optimizado para la satisfacción de los programadores y para la productividad sostenible. Te permite escribir un buen código evitando que te repitas y favoreciendo la convención antes que la configuración.</p>
			<hr>
			<br>
		<img src="https://tech.co/wp-content/uploads/2014/08/rubyrails.png" alt="logo de en 1 mes" class="img-responsive">
		</div>
		<div class="col-md-4">
						<div class="page-header">
			  <h2>Web Desing</h2>
			</div>
			<p>En general, instalar Rails es tan sencillo como gem install rails, pero primero hay que tener el lenguaje Ruby y el gestor de librerías Rubygems en el sistema, lo que varía un poco de una plataforma a otra.</p>
		    <hr>

			<br>
			<img src="http://panamawebsites.com/wp-content/uploads/2015/04/disenio-y-paginas-web-en-cusco.png" alt="logo de en 1 mes" class="img-responsive">
			</a>

			

		</div>
	</div>

</div>

